<center><h1>Editing Clinic</h1>

<%= render 'form', clinic: @clinic %>
<br>
<%= link_to 'Show', @clinic, class:"btn btn-primary text-uppercase js-scroll-trigger" %>
<%= link_to 'Back', clinics_path, class:"btn btn-primary text-uppercase js-scroll-trigger" %></center>
