<center><h1>Editing Patient</h1>

<%= render 'form', patient: @patient %>

<%= link_to 'Show', @patient, class:"btn btn-primary text-uppercase js-scroll-trigger" %>
<%= link_to 'Back', patients_path, class:"btn btn-primary text-uppercase js-scroll-trigger" %>
</center>
