<center><h1>Editing Doctor</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Show', @doctor, class:"btn btn-primary text-uppercase js-scroll-trigger" %>
<%= link_to 'Back', doctors_path, class:"btn btn-primary text-uppercase js-scroll-trigger" %>
</center>
